<div class="main">
  <div class="content">
    <h1 class="heading">What are your main areas of focus?</h1>
    <p class="sub-heading">This will help us build a personalized experience for you</p>

    <div class="select" appSelect>
      <div class="option" appSelectoption>Blood Glucose</div>
      <div class="option" appSelectoption>Medication</div>
      <div class="option" appSelectoption>Food Tracking</div>
      <div class="option" appSelectoption>Excercise</div>
      <div class="option" appSelectoption>Weight Management</div>
      <div class="option" appSelectoption>Blood Pressure</div>
      <div class="option" appSelectoption>A1C</div>
    </div>
  </div>

  <div class="footer">
    <a class="secondary">Back</a>
    <div class="pagination">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="active"></span>
    </div>
    <a class="primary">Done</a>
  </div>

</div>
